
# ==========================
# Frontend Environment Config
# ==========================

# Base URL of the backend API (Used for all HTTP requests)
# Example: http://localhost:3000
VITE_API_BASE_URL=

# if true, will enable analytics on dev env (default: false)
VITE_ENABLE_DEV_ANALYTICS=